

* {
    box-sizing: border-box;
}


body {
    background-color: rgb(255, 255, 255);
  }
  
  
  
  .show {
      position: absolute;
      margin-top: 2%;
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 0%;
      width: 50%;
  }
  
  img {
      height: 80px;
      width: 80px;
      border-radius: 50%;
  
  }
  
  .name {
      display: inline-block;
      padding-right: 30px;
  }
  
  
  
  .my-name {
      display: inline-block;
      font-family: 'Syne', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      letter-spacing: -1px;
      padding-top: 20px;
      color: #000000;
  }
  
  .my-info {
      padding-top: 40px;
      font-family: 'Manrope', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.6em;
      letter-spacing: 1.2px;
      color: #414040;
      text-align: center;
  }

  .my-info2 {
       padding-top: 30px;
       padding-bottom:10px;
       font-family: 'Manrope', sans-serif;
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.6em;
       letter-spacing: 1.2px;
       color: #414040;
       text-align: center;
  }
  
  
  
  
  .info {
      display: block;
      width: auto;
  }
  
  .line {
      position: relative;
      overflow: visible;
      width: 100%;
      height: 1px;
      flex: 0 0 auto;
      background-color: rgb(238, 238, 238);    
  }
  
  .container-fluid {
      padding-bottom: 30px;
  }
  
  .nav-link {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      color: #999990;
  }
  
  .btn {
      display: inline-block;
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      box-shadow: 1px 1px 150px -2px #fff;
      -webkit-border-radius: 60;
      -moz-border-radius: 60;
      border-radius: 60px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      /* height: 40px; */
      width: 125px;
      position: relative;
      bottom: 5px;
    }
    
    .btn:hover {
      display: inline-block;
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
      color: #ffffff;
    }
  
  
    .thanks {
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
    }
  
    .links {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 40%;
      padding-top: 45px;
      position: relative;
    }
  
    .twitter {
      display: inline-block;
    }
  
    .footer{
      display: inline-block;
      
      
    }
    .github {
      display: inline-block
    }
  



    .darkmode--activated .name {
        color: white;
      }
    
      .darkmode--activated .my-info {
        color: white;
        font-weight: lighter;
        letter-spacing: 1.6px;
        padding-top: 40px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 1.6em;
        text-align: center;;
      }


      .darkmode--activated .my-info2 {
        color: white;
        font-weight: lighter;
        letter-spacing: 1.6px;
        padding-top:30px;
        padding-bottom: 10px;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-size: 16px;
        line-height: 1.6em;
        text-align: center;
      }


    
      .darkmode--activated .thanks {
        color: #999999;
      }
  
      a.mail {
          color: inherit;
          text-decoration: none;
         }
        
        /* new navbar */
        
        
        
        
         nav ul {
          list-style-type: none;
          display: flex;
          
          gap: 2.2em;
          margin: 0;
          padding: 25px 0px 25px 0px;
         }
        
         nav ul li a {
          font-family: 'inter', sans-serif;
          text-decoration: none;
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          position: relative;
        }
        
        
        
        
        nav ul li .blog {
          font-family: 'inter', sans-serif;
          color: grey;
        }
        
        nav ul li .recd {
          font-family: 'inter', sans-serif;
          color: grey;
        }
        
        
        nav ul li a.active:before {
          position: absolute;
          content: "";
          width: 35%;
          height: 1px;
          border-bottom: 2px solid black;
          bottom: -6px;
        }
        
        nav ul li a:before {
          position: absolute;
          content: "";
          width: 0%;
          height: 1px;
          border-bottom: 2px solid gray;
          bottom: -6px;
          transition: width 0.3s;
        }
        
        
        nav ul li a:hover::before {
          width: 35%;
        }
        nav ul li .about:hover::before {
          width: 0%;
        }
        
        nav ul li a:hover {
          color: #999990;
        }
        
        .darkmode--activated nav ul li a {
          color: White;
        }
        
        
        .darkmode--activated nav ul li a:hover {
          color: yellow;
        }
        
        .darkmode--activated nav ul li .blog:hover {
          color: yellow;
        }
        
        .darkmode--activated nav ul li a.active:before {
          position: absolute;
          content: "";
          width: 35%;
          height: 1px;
          border-bottom: 2px solid #999990;
          bottom: -6px;
        }
        
        .darkmode--activated nav ul li .about:hover {
          color:rgb(134, 119, 119);
        }
        
        
        
        
        
        .darkmode--activated ul li .about:hover::before {
          width: 0%;
        }
        
        .darkmode--activated nav ul li .blog {
          color:rgb(168, 160, 160)
        }
        
        .darkmode--activated nav ul li .recd {
          color:rgb(168, 160, 160)
        }
        
        
    
        .darkmode--activated .show {
                position: relative;
                margin-top: 2%;
                margin-left: 25%;
                margin-right: 25%;
                margin-bottom: 0%;
                width: 50%;
              }
        


        .darkmode--activated .my-name {
          display: inline-block;
          font-family: 'Syne', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          letter-spacing: -1px;
          padding-top: 20px;
          color: white;
        }

        


        
        

       @media (max-width: 800px) {
             

        .thanks {
            display: none;
        }

        .links {
          padding-bottom: 10px;
        }
        
        .show {
          position: absolute;
          margin-top: 2%;
          margin-left: 15%;
          margin-right: 10%;
          margin-bottom: 0%;
          width: 70%;
      }

      .darkmode--activated .show {
        position: absolute;
        margin-top: 2%;
        margin-left: 15%;
        margin-right: 10%;
        margin-bottom: 0%;
        width: 70%;
    }
       }
